#player {
    width: 80px;
    height: 139px;
    z-index: 2;
    position: absolute;
    bottom: 12%;
    left: 100px;
}

.run {
    background: url('../assets/player/run/sprite.png');
    animation: run .8s steps(20) infinite;
}

@keyframes run {
    0% {background-position: 0}
    100% {background-position: -1600px}
}

.jump {
    background: url('../assets/player/jump/spritesheet.png');
    animation: jumpSprite .8s steps(8), jump .8s;
}

@keyframes jumpSprite {
    0% {background-position: 0}
    100% {background-position: -640px}
}

@keyframes jump {
    50% {bottom: 40%}
    100% {bottom: 10%}
}

.die {
    background: url('../assets/player/die/spritesheet.png');
    animation: die .5s steps(5);
}

@keyframes die {
    0% {
        background-position: 0;
        opacity: 1;
    }
    100% {
        background-position: -410px;
        opacity: 0;
    }
}

#enemy {
    z-index: 2;
    position: absolute;
    bottom: 12%;
}

.idle {
    width: 150px;
    height: 100px;
    right: -40%;
    background: url('../assets/slime/spritesheet.png');
    animation: idle .5s steps(20) infinite, move 2s linear;
}

@keyframes idle {
    0% { background-position: 0 }
    100% { background-position: -3000px }
}

@keyframes move {
    from { right: -40% }
    to { right: 100% }
}

.enemyHit {
    width: 100px;
    height: 100px;
    left: 90px;
    background: url('../assets/effects/enemyHit/spritesheet.png');
    animation: hit 1s steps(74);
}

@keyframes hit {
    from { background-position: 0 }
    to { background-position: -7400px }
}

#potion {
    width: 60px;
    height: 60px;
    z-index: 3;
    position: absolute;
}

.floorPotion {bottom: 15%;}
.midPotion {bottom: 30%;}
.floatingPotion {bottom: 45%}

.available {
    right: -40%;
    background: url('../assets/potion/spritesheet.png');
    animation: move 2s linear, potion 1s steps(6) infinite;
}

@keyframes potion {
    from { background-position: 0 }
    to { background-position: 360px }
}

.drink {
    left: 110px;
    background: url('../assets/effects/drinkPotion/spritesheet.png');
    animation: drink .5s steps(82);
}

@keyframes drink {
    from { background-position: 0 }
    to { background-position: -4920px }
}